main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

body
{
  background-color: #0e1147;
}

.shrink
{
  width: 25%;
  height: 25%;
}

.side-by-side
{
  float: left;
  width: 33%;
}

.imgbutton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(163, 23, 2, 0.1)
}

.scrolling
{
  overflow: hidden;
  position: relative;
  /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scrolling 15s linear infinite;
 -webkit-animation: scrolling 15s linear infinite;
 animation: scrolling 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scrolling {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scrolling {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
