{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="text-white">
      <div class="section h2">
        COVID-19 Vaccine Updates
      </div><br>
      <div class="scrolling">
        <p>
        Total Doses Distributed: 52,657,675. Total Doses Administered: 32,780,860.
        Number of People Receiving 1 or More Doses: 26,440,836. Number of People Receiving 2 Doses. 6,064,792.
        Data provided by CDC.
        </p>
      </div><br><br>
      <div class="h3" style="float:left;width:50%;">
        COVID Data tracker<br><br>
        <a href="https://covid.cdc.gov/covid-data-tracker/#datatracker-home"><img style="width:60%;" src="/static/cdc.jpg"></a>
      </div>
      <div class="h3" style="float:right;width:50%;">
        Vaccine Information<br><br>
        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/covid-19-vaccines"><img style="width:60%;" src="/static/who.jpg"></a>
      </div>
    </div>
{% endblock %}
