{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div class="text-white">
      <div class="h2">
        Vaccines
      </div>
      All data taken from <a href="https://www.kaggle.com/lsind18/who-immunization-coverage">Kaggle</a>
    </div><br>
    <form action="/vaccines" method="post" class="center">
      <div class="form-group">
          <input autocomplete="off" autofocus class="form-control" name="abbr" placeholder="Vaccine Abbr." type="text">
          <button class="btn btn-primary" type="submit" name="search">Search</button>
      </div>
    </form><br>
    {% for vaccine in all_vaccines %}
      <form action="/vaccines" method="post" class="side-by-side center d-inline-block">
          <div class="form-group">
              <button class="imgbutton" type="submit" name="{{ vaccine }}"><img class="shrink" src="/static/folder.png"></button>
              <p class="text-white">{{ vaccine }}</p>
          </div>
      </form>
    {% endfor %}
{% endblock %}
