{% extends "layout.html" %}

{% block title %}
    Vaccine Data
{% endblock %}

{% block main %}
    <div class="section text-white">
        <h2>Data for {{ vaccine }}</h2><br>
        <p>Vaccine Info: {{ vaccine_info }}</p><br>
        <form action="/vaccines" method="post" class="center">
          <div class="form-group">
              <input autocomplete="off" autofocus class="form-control" name="country" placeholder="Country" type="text">
              <input autocomplete="off" autofocus class="form-control" name="startyear" placeholder="Start Year" type="text">
              <input autocomplete="off" autofocus class="form-control" name="endyear" placeholder="End Year" type="text">
              <button class="btn btn-primary" type="submit" name="datasearch" value="{{ vaccine }}">Search</button>
          </div>
        </form><br>
        <table>
            <thead>
                <tr>
                    <th>Country</th>
                    {% for i in range(endyear - startyear + 1) %}
                      <th>{{ endyear - i }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
              {% for country in vaccine_data %}
                <tr>
                  <td>{{ country }}</td>
                  {% for year in vaccine_data[country] %}
                    <td>{{ year }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
